<!DOCTYPE html>

<html>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



<style type="text/css">


#gmap {

    position : absolute;

    top      : 25;

    right    : 0;

    height   : 100%;

    width    : 50%;

}

#viz {

    position : absolute;

    top      : 25;

    left    : 0;

    height   : 100%;

    width    : 50%;

}

</style>

<div class="page-header"><p class="bg-info text-white">Tableau Heat Map Demo</p></div>

<!-- <div class="navbar navbar-fixed-top" background-color: rgb(201, 76, 76)>
    nav bar
</div> -->

<div class="container-fluid">
 
<iframe src="tab_viz.html" id="viz"></iframe>

<iframe src="gmaps_placeholder.html" id="gmap"></iframe>

</div>

</html>